h1 {
    color:darkmagenta
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 150%;
    color:purple

}
li{
    font-size: larger;
    line-height:  200%;
}
h2{
    color:purple
}
h3{
    color:darkmagenta
}
